USE [master]
GO
/****** Object:  Database [RosinkaDb]    Script Date: 10.04.2024 1:20:56 ******/
CREATE DATABASE [RosinkaDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RosinkaDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RosinkaDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RosinkaDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RosinkaDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RosinkaDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RosinkaDb]
GO
/****** Object:  Table [dbo].[BirthCertificate]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BirthCertificate](
	[BirthCertificateId] [nvarchar](7) NOT NULL,
	[BirthCertificateDate] [date] NULL,
	[IssuedBy] [text] NULL,
	[PlaceOfBirth] [text] NULL,
 CONSTRAINT [PK_BirthCertificate] PRIMARY KEY CLUSTERED 
(
	[BirthCertificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Child]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Child](
	[ChildId] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[BirthCertificateId] [nvarchar](7) NULL,
	[Status] [int] NULL,
	[ChildPhoto] [varbinary](max) NULL,
	[HealthCardId] [int] NULL,
	[Birthday] [date] NULL,
	[Nationality] [nvarchar](50) NULL,
	[DateOfIssue] [date] NULL,
 CONSTRAINT [PK_Child] PRIMARY KEY CLUSTERED 
(
	[ChildId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChildGroup]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChildGroup](
	[ChildGroupId] [int] IDENTITY(1,1) NOT NULL,
	[ChildId] [int] NULL,
	[GroupId] [int] NULL,
 CONSTRAINT [PK_ChildGroup] PRIMARY KEY CLUSTERED 
(
	[ChildGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChildParent]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChildParent](
	[ChildParentId] [int] IDENTITY(1,1) NOT NULL,
	[ChildId] [int] NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_ChildParent] PRIMARY KEY CLUSTERED 
(
	[ChildParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[GoupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](50) NULL,
	[GroupStatus] [nvarchar](50) NULL,
	[NumberOfRoom] [int] NULL,
	[GroupTypeId] [int] NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[GoupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMentor]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMentor](
	[GroupMentorId] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NULL,
	[MentorId] [int] NULL,
 CONSTRAINT [PK_GroupMentor] PRIMARY KEY CLUSTERED 
(
	[GroupMentorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupType]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupType](
	[GroupTypeId] [int] NOT NULL,
	[GroupTypeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_GroupType] PRIMARY KEY CLUSTERED 
(
	[GroupTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthCard]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthCard](
	[HealthCardId] [int] IDENTITY(1,1) NOT NULL,
	[Disability] [nvarchar](50) NULL,
	[HealthGroup] [nvarchar](50) NULL,
	[ExtensiveTreatment] [nvarchar](50) NULL,
	[VaccinationCertificateFirstPage] [varbinary](max) NULL,
	[Comment] [text] NULL,
 CONSTRAINT [PK_HealthCard] PRIMARY KEY CLUSTERED 
(
	[HealthCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parent]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent](
	[ParentId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[PassportId] [int] NULL,
 CONSTRAINT [PK_Parent] PRIMARY KEY CLUSTERED 
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passport]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passport](
	[PassportId] [int] IDENTITY(1,1) NOT NULL,
	[PassportSeries] [nvarchar](5) NULL,
	[PassportNumber] [nvarchar](15) NULL,
	[Birthday] [date] NULL,
	[Citizenship] [nvarchar](50) NULL,
	[RegistrationAddress] [text] NULL,
	[ActualAddress] [text] NULL,
 CONSTRAINT [PK_Passport] PRIMARY KEY CLUSTERED 
(
	[PassportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] NOT NULL,
	[StatusName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10.04.2024 1:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[DateOfAcceptance] [date] NULL,
	[StatusId] [int] NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BirthCertificate] ([BirthCertificateId], [BirthCertificateDate], [IssuedBy], [PlaceOfBirth]) VALUES (N'599767', CAST(N'2017-04-15' AS Date), N'Курская городская больница № 2, стационар', N'Россия')
INSERT [dbo].[BirthCertificate] ([BirthCertificateId], [BirthCertificateDate], [IssuedBy], [PlaceOfBirth]) VALUES (N'620573', CAST(N'2018-04-15' AS Date), N'Больница №3', N'Россия')
INSERT [dbo].[BirthCertificate] ([BirthCertificateId], [BirthCertificateDate], [IssuedBy], [PlaceOfBirth]) VALUES (N'670976', CAST(N'2019-04-15' AS Date), N'Больница №2', N'Россия')
GO
SET IDENTITY_INSERT [dbo].[Child] ON 

INSERT [dbo].[Child] ([ChildId], [LastName], [FirstName], [Patronymic], [BirthCertificateId], [Status], [ChildPhoto], [HealthCardId], [Birthday], [Nationality], [DateOfIssue]) VALUES (26, N'Королев', N'Мирон', N'Денисович', N'670976', 1, NULL, 2, CAST(N'2019-04-15' AS Date), N'Русский', CAST(N'2021-03-12' AS Date))
INSERT [dbo].[Child] ([ChildId], [LastName], [FirstName], [Patronymic], [BirthCertificateId], [Status], [ChildPhoto], [HealthCardId], [Birthday], [Nationality], [DateOfIssue]) VALUES (27, N'Попов', N'Лев', N'Андреевич', N'620573', 1, NULL, 3, CAST(N'2018-04-15' AS Date), N'Русский', CAST(N'2020-03-12' AS Date))
SET IDENTITY_INSERT [dbo].[Child] OFF
GO
SET IDENTITY_INSERT [dbo].[ChildGroup] ON 

INSERT [dbo].[ChildGroup] ([ChildGroupId], [ChildId], [GroupId]) VALUES (1, 25, 1)
INSERT [dbo].[ChildGroup] ([ChildGroupId], [ChildId], [GroupId]) VALUES (2, 26, 2)
INSERT [dbo].[ChildGroup] ([ChildGroupId], [ChildId], [GroupId]) VALUES (3, 27, 3)
SET IDENTITY_INSERT [dbo].[ChildGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[ChildParent] ON 

INSERT [dbo].[ChildParent] ([ChildParentId], [ChildId], [ParentId]) VALUES (2, 25, 1)
INSERT [dbo].[ChildParent] ([ChildParentId], [ChildId], [ParentId]) VALUES (3, 26, 1)
INSERT [dbo].[ChildParent] ([ChildParentId], [ChildId], [ParentId]) VALUES (4, 27, 2)
SET IDENTITY_INSERT [dbo].[ChildParent] OFF
GO
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([GoupID], [GroupName], [GroupStatus], [NumberOfRoom], [GroupTypeId]) VALUES (1, N'Гурппа №1 общеобразовательное направление', N'1', 1, 1)
INSERT [dbo].[Group] ([GoupID], [GroupName], [GroupStatus], [NumberOfRoom], [GroupTypeId]) VALUES (2, N'Группа № 12 общеразвивающей направленности', N'1', 2, 2)
INSERT [dbo].[Group] ([GoupID], [GroupName], [GroupStatus], [NumberOfRoom], [GroupTypeId]) VALUES (3, N'Группа № 11 общеразвивающей направленности', N'1', 3, 3)
SET IDENTITY_INSERT [dbo].[Group] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupMentor] ON 

INSERT [dbo].[GroupMentor] ([GroupMentorId], [GroupId], [MentorId]) VALUES (1, 1, 1)
INSERT [dbo].[GroupMentor] ([GroupMentorId], [GroupId], [MentorId]) VALUES (3, 2, 1)
INSERT [dbo].[GroupMentor] ([GroupMentorId], [GroupId], [MentorId]) VALUES (17, 8, 1)
SET IDENTITY_INSERT [dbo].[GroupMentor] OFF
GO
INSERT [dbo].[GroupType] ([GroupTypeId], [GroupTypeName]) VALUES (1, N'Ясельная группа')
INSERT [dbo].[GroupType] ([GroupTypeId], [GroupTypeName]) VALUES (2, N'Младшая группа')
INSERT [dbo].[GroupType] ([GroupTypeId], [GroupTypeName]) VALUES (3, N'Средняя группа')
GO
SET IDENTITY_INSERT [dbo].[HealthCard] ON 

INSERT [dbo].[HealthCard] ([HealthCardId], [Disability], [HealthGroup], [ExtensiveTreatment], [VaccinationCertificateFirstPage], [Comment]) VALUES (1, N'Нет', N'2 группа', N'Не требуется', NULL, N'-')
INSERT [dbo].[HealthCard] ([HealthCardId], [Disability], [HealthGroup], [ExtensiveTreatment], [VaccinationCertificateFirstPage], [Comment]) VALUES (2, N'Нет', N'1 группа', N'Не требуется', NULL, N'-')
INSERT [dbo].[HealthCard] ([HealthCardId], [Disability], [HealthGroup], [ExtensiveTreatment], [VaccinationCertificateFirstPage], [Comment]) VALUES (3, N'Нет', N'3 группа', N'Массаж', NULL, N'Замечаются боли в спине, требуется наблюдение')
SET IDENTITY_INSERT [dbo].[HealthCard] OFF
GO
SET IDENTITY_INSERT [dbo].[Parent] ON 

INSERT [dbo].[Parent] ([ParentId], [FirstName], [LastName], [Patronymic], [PhoneNumber], [PassportId]) VALUES (1, N'Иван', N'Васильев', N'Васильевич', N'1', 1)
INSERT [dbo].[Parent] ([ParentId], [FirstName], [LastName], [Patronymic], [PhoneNumber], [PassportId]) VALUES (2, N'Владимир', N'Соколов', N'Андреевич', N'12', 2)
INSERT [dbo].[Parent] ([ParentId], [FirstName], [LastName], [Patronymic], [PhoneNumber], [PassportId]) VALUES (3, N'1', N'1', N'1', N'1', 3)
SET IDENTITY_INSERT [dbo].[Parent] OFF
GO
SET IDENTITY_INSERT [dbo].[Passport] ON 

INSERT [dbo].[Passport] ([PassportId], [PassportSeries], [PassportNumber], [Birthday], [Citizenship], [RegistrationAddress], [ActualAddress]) VALUES (1, N'5434', N'543456', CAST(N'1980-12-12' AS Date), N'Россия', N'г. Москва, ул. Соколянская, д. 23', N'г. Москва, ул. Соколянская, д. 23')
INSERT [dbo].[Passport] ([PassportId], [PassportSeries], [PassportNumber], [Birthday], [Citizenship], [RegistrationAddress], [ActualAddress]) VALUES (2, N'4334', N'434344', CAST(N'1988-11-11' AS Date), N'Россия', N'г. Смоленск, ул. Запольная, д.33', N'г. Смоленск, ул. Запольная, д.33')
INSERT [dbo].[Passport] ([PassportId], [PassportSeries], [PassportNumber], [Birthday], [Citizenship], [RegistrationAddress], [ActualAddress]) VALUES (3, N'1', N'1', CAST(N'2024-04-10' AS Date), N'1', N'1', N'1')
SET IDENTITY_INSERT [dbo].[Passport] OFF
GO
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Администратор')
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomId], [RoomName]) VALUES (1, N'1')
INSERT [dbo].[Room] ([RoomId], [RoomName]) VALUES (2, N'1А')
INSERT [dbo].[Room] ([RoomId], [RoomName]) VALUES (3, N'2')
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
INSERT [dbo].[Status] ([StatusId], [StatusName]) VALUES (1, N'Активен')
INSERT [dbo].[Status] ([StatusId], [StatusName]) VALUES (2, N'Удалён')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [LastName], [Patronymic], [PhoneNumber], [DateOfAcceptance], [StatusId], [Password]) VALUES (1, 1, N'Дмитрий', N'Виталь', N'Витальевич', N'79967074456', CAST(N'2000-10-10' AS Date), NULL, N'1')
INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [LastName], [Patronymic], [PhoneNumber], [DateOfAcceptance], [StatusId], [Password]) VALUES (2, 1, N'1', N'1', N'1', N'1', NULL, NULL, N'1')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Child]  WITH CHECK ADD  CONSTRAINT [FK_Child_BirthCertificate1] FOREIGN KEY([BirthCertificateId])
REFERENCES [dbo].[BirthCertificate] ([BirthCertificateId])
GO
ALTER TABLE [dbo].[Child] CHECK CONSTRAINT [FK_Child_BirthCertificate1]
GO
ALTER TABLE [dbo].[Child]  WITH CHECK ADD  CONSTRAINT [FK_Child_HealthCard] FOREIGN KEY([HealthCardId])
REFERENCES [dbo].[HealthCard] ([HealthCardId])
GO
ALTER TABLE [dbo].[Child] CHECK CONSTRAINT [FK_Child_HealthCard]
GO
ALTER TABLE [dbo].[Child]  WITH CHECK ADD  CONSTRAINT [FK_Child_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Child] CHECK CONSTRAINT [FK_Child_Status]
GO
ALTER TABLE [dbo].[ChildGroup]  WITH CHECK ADD  CONSTRAINT [FK_ChildGroup_Child] FOREIGN KEY([ChildId])
REFERENCES [dbo].[Child] ([ChildId])
GO
ALTER TABLE [dbo].[ChildGroup] CHECK CONSTRAINT [FK_ChildGroup_Child]
GO
ALTER TABLE [dbo].[ChildGroup]  WITH CHECK ADD  CONSTRAINT [FK_ChildGroup_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Group] ([GoupID])
GO
ALTER TABLE [dbo].[ChildGroup] CHECK CONSTRAINT [FK_ChildGroup_Group]
GO
ALTER TABLE [dbo].[ChildParent]  WITH CHECK ADD  CONSTRAINT [FK_ChildParent_Child] FOREIGN KEY([ChildId])
REFERENCES [dbo].[Child] ([ChildId])
GO
ALTER TABLE [dbo].[ChildParent] CHECK CONSTRAINT [FK_ChildParent_Child]
GO
ALTER TABLE [dbo].[ChildParent]  WITH CHECK ADD  CONSTRAINT [FK_ChildParent_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Parent] ([ParentId])
GO
ALTER TABLE [dbo].[ChildParent] CHECK CONSTRAINT [FK_ChildParent_Parent]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_GroupType] FOREIGN KEY([GroupTypeId])
REFERENCES [dbo].[GroupType] ([GroupTypeId])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_GroupType]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Room] FOREIGN KEY([NumberOfRoom])
REFERENCES [dbo].[Room] ([RoomId])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Room]
GO
ALTER TABLE [dbo].[GroupMentor]  WITH CHECK ADD  CONSTRAINT [FK_GroupMentor_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Group] ([GoupID])
GO
ALTER TABLE [dbo].[GroupMentor] CHECK CONSTRAINT [FK_GroupMentor_Group]
GO
ALTER TABLE [dbo].[GroupMentor]  WITH CHECK ADD  CONSTRAINT [FK_GroupMentor_User] FOREIGN KEY([MentorId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[GroupMentor] CHECK CONSTRAINT [FK_GroupMentor_User]
GO
ALTER TABLE [dbo].[Parent]  WITH CHECK ADD  CONSTRAINT [FK_Parent_Passport] FOREIGN KEY([PassportId])
REFERENCES [dbo].[Passport] ([PassportId])
GO
ALTER TABLE [dbo].[Parent] CHECK CONSTRAINT [FK_Parent_Passport]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Status]
GO
USE [master]
GO
